
 <!-- table dev_httpbrige_devices search -->
 [#if VIEW_MODE="search_dev_httpbrige_devices" || VIEW_MODE=""#]
  [#inc dev_httpbrige_devices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_httpbrige_devices search -->
 <!-- table dev_httpbrige_devices edit -->
 [#if VIEW_MODE="edit_dev_httpbrige_devices"#]
   [#inc dev_httpbrige_devices_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_httpbrige_devices edit -->
 <!-- table dev_httpbrige_devices view --> 
 [#if VIEW_MODE="view_dev_httpbrige_devices"#]
   [#inc dev_httpbrige_devices_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table dev_httpbrige_devices view -->
