
<!-- Table 'dev_httpbrige_devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if MESSAGE!=""#]
<div class="alert alert-info">[#MESSAGE#]</div>
[#endif MESSAGE#]
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
	Тип устройства:
 </label>
  <div class="col-lg-4">
    <select class="form-control" name="type">
      <option value="">Выберите устройство
      <option value="rm"[#if TYPE=="rm"#] selected[#endif#]>RM(1,2,Pro)
      <option value="rm3"[#if TYPE=="rm3"#] selected[#endif#]>RM3 mini
      <option value="rm4"[#if TYPE=="rm4"#] selected[#endif#]>RM4 mini/RM4c
      <option value="rm4pro"[#if TYPE=="rm4pro"#] selected[#endif#]>RM4 pro
      <option value="a1"[#if TYPE=="a1"#] selected[#endif#]>A1 e-Air
      <option value="sp2"[#if TYPE=="sp2"#] selected[#endif#]>SP2
      <option value="spmini"[#if TYPE=="spmini"#] selected[#endif#]>SP mini/MP2
      <option value="sp3"[#if TYPE=="sp3"#] selected[#endif#]>SP3 (SP CC)
      <option value="sp3s"[#if TYPE=="sp3s"#] selected[#endif#]>SP3S
      <option value="mp1"[#if TYPE=="mp1"#] selected[#endif#]>MP1
      <option value="ms1"[#if TYPE=="ms1"#] selected[#endif#]>Колонка MS1
      <option value="sc1"[#if TYPE=="sc1"#] selected[#endif#]>Выключатель SC1
      <option value="s1"[#if TYPE=="s1"#] selected[#endif#]>S1/S1c
      <option value="dooya"[#if TYPE=="dooya"#] selected[#endif#]>Карнизы Dooya
      <option value="hysen"[#if TYPE=="hysen"#] selected[#endif#]>Термостаты
    </select>
  </div>
</div>
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>

<!-- IP (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
 IP устройства:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"></div>
</div>

<!-- DEVTYPE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_DEVTYPE#] style="color:red;font-weight:bold"[#endif#]>
 Марка устройства:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="devtype" value="[#DEVTYPE#]" id="devtype"></div>
</div>

<!-- MAC (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_MAC#] style="color:red;font-weight:bold"[#endif#]>
 MAC:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="mac" value="[#MAC#]" id="mac"></div>
</div>
[#if TYPE=="rm" || TYPE=="rm3" || TYPE=="rm4" || TYPE=="rm4pro"#]
<div class="form-group">
 <label class="col-lg-3 control-label">
Управление:
 </label>
 <div class="col-lg-4">
	<!--a href="?data_source=<#DATA_SOURCE#>&id=<#ID#>&view_mode=<#VIEW_MODE#>&mode=learn" class="btn btn-success">Обучить коду</a-->
	<a  data-toggle="modal" data-target="#ir_learn" class="btn btn-success">Обучить коду</a>
	<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data_usage" class="btn btn-default">Использование команд</a>
 </div>
</div>

[#endif#]

<div class="form-group">
 <label class="col-lg-3 control-label">
Обновлять каждые:
 </label>



	<div class="btn-group col-lg-4" data-toggle="buttons">
		<label class="btn [#if CHTIME=="none"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="none" [#if CHTIME=="none"#] checked[#endif#]>None
		</label>
		<label class="btn [#if CHTIME=="1s"#]btn-primary[#else#]btn-danger[#endif#]">
			<input type="radio" name="chtime" value="1s" [#if CHTIME=="1s"#] checked[#endif#]>1s
		</label>
		<label class="btn [#if CHTIME=="2s"#]btn-primary[#else#]btn-warning[#endif#]">
			<input type="radio" name="chtime" value="2s" [#if CHTIME=="2s"#] checked[#endif#]>2s
		</label>
		<label class="btn [#if CHTIME=="3s"#]btn-primary[#else#]btn-warning[#endif#]">
			<input type="radio" name="chtime" value="3s" [#if CHTIME=="3s"#] checked[#endif#]>3s
		</label>
		<label class="btn [#if CHTIME=="5s"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="5s" [#if CHTIME=="5s"#] checked[#endif#]>5s
		</label>
		<label class="btn [#if CHTIME=="20s"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="20s" [#if CHTIME=="20s"#] checked[#endif#]>20s
		</label>
		<label class="btn [#if CHTIME=="1m"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="1m" [#if CHTIME=="1m"#] checked[#endif#]>1m
		</label>
		<label class="btn [#if CHTIME=="5m"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="5m" [#if CHTIME=="5m"#] checked[#endif#]>5m
		</label>
		<label class="btn [#if CHTIME=="10m"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="10m" [#if CHTIME=="10m"#] checked[#endif#]>10m
		</label>
		<label class="btn [#if CHTIME=="1h"#]btn-primary[#else#]btn-default[#endif#]">
			<input type="radio" name="chtime" value="1h" [#if CHTIME=="1h"#] checked[#endif#]>1h
		</label>
	</div>
</div>

<!-- UPDATED (datetime) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_UPDATED#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_UPDATED#>:
 </label>
 <div class="col-lg-4">
<input class="form-control" id="disabledInput" type="text" placeholder="[#UPDATED#]" disabled>
 </div>
</div>
[#module name="linkedobject" object_field="linked_object"#]
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
</div>
</div>
</fieldset>
</form>

[#if TYPE=="rm" || TYPE=="rm3" || TYPE=="rm4" || TYPE=="rm4pro"#]
<div class="modal fade" id="ir_learn" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
            <b>Обучение коду</b>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="float-right">

                     <img src="/templates/dev_broadlink/php/rm_learn.png" class="img-rounded">

               </div>
               <p class="float-left">
                    Введите имя команды и нажмите "Старт". <br>После нажатия кнопки "Старт" на устройстве должен загореться <b>желтый</b> диод. После этого необходимо направить обучающий пульт на устройство (в случае с RF пультом - поднести ближе к устройству), и нажать на кнопку, команду которой вы хотите записать. Для RF пультов рекомендуется подержать кнопку 2-3 секунды. Команда после этого будет записана в базу с соответствующим именем. Если имя не было введено - то с именем new_command.
               </p>
               <br><br>
               <div class="input-group">

                  <input type="text" class="form-control" placeholder="Имя команды" id="command_name">
                   <span class="input-group-btn">
                      <button class="btn btn-success" onclick="startLearnIR();" type="button">Старт</button>
                   </span>
               </div>
            </div>
            <div class="row">
               <br>
               <div>
                  <pre class="pre-scrollable" id="ir_learn_log" style="word-wrap: break-word;"></pre>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>

function learnMasterTV() {
    var btns = ["1", "2", "3"];
    var cmd_name=document.getElementById("command_name").value;
    btns.forEach(function(element) {
        startLearnIR(cmd_name+element);
    });
}

function startLearnIR(command = '') {
        var cmd_name=document.getElementById("command_name").value;
        if(!cmd_name) cmd_name='new_command';
        if(command) cmd_name=command;
        var url="/ajax/dev_broadlink.html?op=api_learn_start&did=[#ID#]&dname="+cmd_name;
        if(!command) $("#ir_learn_log").html('');

        $.ajax({
            url: url,
            cache: false,
            success: function(html){
                         Data = new Date();
                         Hour = ('0' + Data.getHours()).slice(-2);
                         Minutes = ('0' + Data.getMinutes()).slice(-2);
                         Seconds = ('0' + Data.getSeconds()).slice(-2);
                $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' Перевод в режим обучения...');
                var value = html.split(/\n+/g);
                var resp = tryParseJSON(value[0]);
               if (resp !== false) {
                  if(typeof resp.error === 'undefined') {
                     if ((typeof resp.result !== 'undefined') && (resp.result === 0 || resp.result == 'ok')) {
                        $('#ir_learn_log').append('<font color=green>OK</font><br>');
                        setTimeout(learnTimer, 1000);
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' Ожидание команды...');
                     } else {
                        $('#ir_learn_log').append('<font color=red>ERR</font> - bad response.<br>');
                     }
                  } else {
                     $('#ir_learn_log').append('<font color=red>ERR</font> - '+resp.error+'<br>');
                  }
               } else {
                  $('#ir_learn_log').append('<font color=red>ERR</font> Неизвестная ошибка.<br>');
               }
            }
        });
}

function learnTimer() {

    $.ajax({
        url: "/ajax/dev_broadlink.html?op=api_learn_check&did=[#ID#]",
        cache: false,
        success: function(html){
                     Data = new Date();
                     Hour = ('0' + Data.getHours()).slice(-2);
                     Minutes = ('0' + Data.getMinutes()).slice(-2);
                     Seconds = ('0' + Data.getSeconds()).slice(-2);
            var value = html.split(/\n+/g);
            var resp = tryParseJSON(value[0]);
           if (resp !== false) {
              if(typeof resp.error === 'undefined') {
                 if (typeof resp.result !== 'undefined') {
                    if(resp.result == 'ok') {
                        $('#ir_learn_log').append('<font color=green>OK</font><br>');
                        $('#ir_learn_log').append(Hour+":"+Minutes+":"+Seconds+' Сохранение команды '+resp.command+' в базе...<font color=green>OK</font><br>');
                    } else if (resp.result == 'wait') {
                        setTimeout(learnTimer, 1000);
                    }

                 } else {
                    $('#ir_learn_log').append('<font color=red>ERR</font> - bad response.<br>');
                 }
              } else {
                 $('#ir_learn_log').append('<font color=red>ERR</font> - '+resp.error+'<br>');
              }
           } else {
              $('#ir_learn_log').append('<font color=red>ERR</font> Неизвестная ошибка.<br>');
           }
        }
    });
}

function tryParseJSON (jsonString){
  try {
     var o = JSON.parse(jsonString);
     if (o && typeof o === "object") return o;
  }
  catch (e) { }
  return false;
};
</script>
[#endif#]
