	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
				<h4 class="modal-title">Модуль интеграции устройств Broadlink</h4>
			</div>
			<div class="modal-body">
				<p>Данный модуль служит для интеграции различных устройств производства компании Broadlink.<br>
				Обсуждение а так же информацию о модуле вы можете посмотреть <a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=3544" target="_blank">здесь</a>.<br><br>
				[#if API_TYPE="rm-brige"#]
				<img src="/templates/dev_broadlink/rm-brige/images/feature_graphics.png" width="538"/>
				[#endif API_TYPE#]
				<hr size="1">
					Поблагодарить либо поддержать разработчика:
					<ul>
						<li>Qiwi: +79058065673</li>
						<li>Yandex-кошелек: 41001297263258</li>
					</ul>
				</p>
				<p class="float-left"></p>
			</div>
			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@nick7zmail</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>