
<!-- table zwave_devices search -->
[#if API_TYPE!=""#]
<div>
<a href="#" class="btn btn-primary" onClick="$('#api_settings').toggle();return false;"><i class="glyphicon glyphicon-cog"></i> <#LANG_SETUP#></a>
<div class="float-right">
<a href="?data_source=<#DATA_SOURCE#>&view_mode=cloud" class="btn btn-primary"><span class="glyphicon glyphicon-cloud"></span> BLCloud</a>
</div>
</div>
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_TYPE#] style="color:red;font-weight:bold"[#endif#]>
 API:
 </label>
 <div class="controls">
 <input type="radio" name="api_type" value="php"[#if API_TYPE="php"#] checked[#endif#]> PHP (aka module-only)
 &nbsp;&nbsp;&nbsp;
 <input type="radio" name="api_type" value="rm-brige"[#if API_TYPE="rm-brige"#] checked[#endif#]> RM-Bridge
 &nbsp;&nbsp;&nbsp;
 <input type="radio" name="api_type" value="httpbrige"[#if API_TYPE="httpbrige"#] checked[#endif#]> BroadlinkHTTPBridge
 </div>
</div>
[#if API_TYPE="php"#]
<div class="form-group">
 <label class="control-label"[#if ERR_IP_UPDATE#] style="color:red;font-weight:bold"[#endif#]>
Автоматическое обновление IP:
 </label>
 <div class="controls"><input type="checkbox" name="ip_update" [#if IP_UPDATE="need"#] checked[#endif#]></div>
</div>
[#endif#]
[#if API_TYPE="httpbrige"#]
<div class="form-group">
 <label class="control-label"[#if ERR_API_URL#] style="color:red;font-weight:bold"[#endif#]>
 API URL:
 (http://xxx.xxx.xxx.xxx:port)
 </label>
 <div class="controls"><input type="text" name="api_url" value="[#API_URL#]" class="input"></div>
</div>
[#endif#]
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div><br>
[#endif#]

 [#if API_TYPE=""#]
  [#inc first_start.html#]
 [#endif API_TYPE#]
 
 [#if API_TYPE="rm-brige"#]
  [#inc rm-brige/action_admin.html#]
 [#endif API_TYPE#]

 [#if API_TYPE="httpbrige"#]
   [#inc httpbrige/action_admin.html#]
 [#endif API_TYPE#]

 [#if API_TYPE="php"#]
   [#inc php/action_admin.html#]
 [#endif API_TYPE#]
 
 [#if VIEW_MODE="cloud"#]
   [#inc cloud.html#]
 [#endif VIEW_MODE#]

